// TODO: Define home directory once and use everywhere else
params.COVIRT_Code = "/nobackupp13/asaravia/COVIRT_all_data_nextflow/truncated_input_NF_full_test/NF_test_data"
params.COVIRT_Data = "/nobackupp13/asaravia/genome_files/Homo_sapiens/ensembl_release100"
params.trimmomatic_adapters = "/nobackupp16/swbuild/hsp/COVID19/anaconda3/envs/COVIRT_fastq_to_bam/share/trimmomatic/adapters"

params.raw_reads_dir = "${params.COVIRT_Code}/00-RawData/Fastq"
params.genome_dir = "${params.COVIRT_Data}"
params.STAR_index = "/nobackupp13/asaravia/STAR_Indices/STAR_Indices/Homo_sapiens_and_SARS-CoV-2_ensembl_RL-151"
params.RSEM_index = "/nobackupp13/asaravia/RSEM_Indices/Homo_sapiens_and_SARS-CoV-2_ensembl/Hsapiens_SARS-CoV-2_ens"
params.rRNA_ref = "/nobackupp13/asaravia/genome_files/Homo_sapiens/RefSeq/Hsapiens_rRNA_RefSeq_sequence.fasta"

singularity.enabled = true

//params.CONDA_Envs = "${params.COVIRT_Code}/RNAseq/Conda_Environments"
process {
  // executor = "pbspro"
  // This option can be set inside each label if needed
  // clusterOptions = "-W group_list=e2255 -S /bin/bash -l select=4:ncpus=8:model=has -l walltime=2:00:00 -N COVIRT_fq_split_Hfilter -q covid19 -m abe -j oe"
  withLabel: "COVIRT_GATK" {
    conda = "/nobackupp16/swbuild/hsp/COVID19/anaconda3/envs/COVIRT_GATK"
  }
  withLabel: "COVIRT_HTStream" {
    conda = "/nobackupp16/swbuild/hsp/COVID19/anaconda3/envs/COVIRT_HTStream"
  }
  // withLabel: "COVIRT_RNAseq_R_tools" {
  //   conda = "/Users/asaravia/anaconda3/envs/COVIRT_RNAseq_R_tools"
  // }
  withLabel: "COVIRT_fastq_to_alignment" {
    conda = "/nobackupp16/swbuild/hsp/COVID19/anaconda3/envs/COVIRT_fastq_to_counts_v1.1"
  }
  withLabel: "COVIRT_fastq_to_align_STAR_2_7_1a" {
    conda = "/nobackupp16/swbuild/hsp/COVID19/anaconda3/envs/COVIRT_fastq_to_bam"
  }
  // withLabel: "COVIRT_fgbio" {
  //   conda = "/Users/asaravia/anaconda3/envs/COVIRT_fgbio"
  // }
  // withLabel: "COVIRT_gtfToGenePred" {
  //   conda = "/Users/asaravia/anaconda3/envs/COVIRT_gtfToGenePred"
  // }
  withLabel: "COVIRT_nextflow" {
    conda = "/nobackupp16/swbuild/hsp/COVID19/anaconda3/envs/COVIRT_nextflow"
  }
  withLabel: "COVIRT_rsem" {
    conda = "/nobackupp16/swbuild/hsp/COVID19/anaconda3/envs/COVIRT_fastq_to_counts_v1.1"
  }
  // withLabel: "COVIRT_fq_splitter" {
    //container = "quay.io/kmhernan/gdc-fastq-splitter:latest"
    // conda = "/Users/asaravia/anaconda3/envs/COVIRT_fq_splitter"
    //source /Users/asaravia/Desktop/Logyx_NASA/GeneLab/COVID19/NASA_HEC_analyses/Pipelines/GitHub_COV-IRT_Pipeline/Conda_Environments/gdc-fastq-splitter/venv/bin/activate
  // }
  //singularity.enabled = true
}

