
COVIRT_home = "/home/ubuntu/COV-IRT"
Ensembl_data_dir = "/home/ubuntu/COV-IRT-Data"

params.raw_reads_dir = "${COVIRT_home}/RNAseq/Fastq_Input_Files_for_Testing"
params.genome_dir = "${Ensembl_data_dir}/filtered"

process {
  withLabel: "COVIRT_GATK" {
    conda = "${COVIRT_home}/RNAseq/Conda_Environments/COVIRT_GATK.yml"
  }
  withLabel: "COVIRT_HTStream" {
    conda = "${COVIRT_home}/RNAseq/Conda_Environments/COVIRT_HTStream.yml"
  }
  withLabel: "COVIRT_RNAseq_R_tools" {
    conda = "${COVIRT_home}/RNAseq/Conda_Environments/COVIRT_RNAseq_R_tools.yml"
  }
  withLabel: "COVIRT_fastq_to_alignment" {
    conda = "${COVIRT_home}/RNAseq/Conda_Environments/COVIRT_fastq_to_alignment.yml"
  }
  withLabel: "COVIRT_fgbio" {
    conda = "${COVIRT_home}/RNAseq/Conda_Environments/COVIRT_fgbio.yml"
  }
  withLabel: "COVIRT_gtfToGenePred" {
    conda = "${COVIRT_home}/RNAseq/Conda_Environments/COVIRT_gtfToGenePred.yml"
  }
  withLabel: "COVIRT_nextflow" {
    conda = "${COVIRT_home}/RNAseq/Conda_Environments/COVIRT_nextflow.yml"
  }
  withLabel: "COVIRT_rsem" {
    conda = "${COVIRT_home}/RNAseq/Conda_Environments/COVIRT_rsem.yml"
  }
}
