
params.COVIRT_home = "/home/ubuntu/COV-IRT"
params.Ensembl_data_dir = "/home/ubuntu/COV-IRT-Data"

params.raw_reads_dir = "${params.COVIRT_home}/RNAseq/Fastq_Input_Files_for_Testing"
params.genome_dir = "${params.Ensembl_data_dir}/filtered"

params.CONDA_env_dir = "${params.COVIRT_home}/RNAseq/Conda_Environments"
process {
  withLabel: "COVIRT_GATK" {
    conda = "${params.CONDA_env_dir}/COVIRT_GATK.yml"
  }
  withLabel: "COVIRT_HTStream" {
    conda = "${params.CONDA_env_dir}/COVIRT_HTStream.yml"
  }
  withLabel: "COVIRT_RNAseq_R_tools" {
    conda = "${params.CONDA_env_dir}/COVIRT_RNAseq_R_tools.yml"
  }
  withLabel: "COVIRT_fastq_to_alignment" {
    conda = "${params.CONDA_env_dir}/COVIRT_fastq_to_alignment.yml"
  }
  withLabel: "COVIRT_fgbio" {
    conda = "${params.CONDA_env_dir}/COVIRT_fgbio.yml"
  }
  withLabel: "COVIRT_gtfToGenePred" {
    conda = "${params.CONDA_env_dir}/COVIRT_gtfToGenePred.yml"
  }
  withLabel: "COVIRT_nextflow" {
    conda = "${params.CONDA_env_dir}/COVIRT_nextflow.yml"
  }
  withLabel: "COVIRT_rsem" {
    conda = "${params.CONDA_env_dir}/COVIRT_rsem.yml"
  }
}
